.about {
    display: grid;
    grid-template-columns: 1fr 45rem 45rem 1fr;
    grid-template-rows: 10rem 70rem;

    @include respond(tab-port) {
        grid-template-columns: 1fr 30rem 30rem 1fr;
    }

    &__subheading {
        grid-row: 1 / 2;
        grid-column: 2 / 4;
        align-self: flex-start;

        font-size: 2rem;
        font-weight: 400;
        text-transform: uppercase;
        text-align: center;
        color: $color-grey;
    }

    &__line {
        grid-row: 1 / 2;
        grid-column: 2 / 4;
        align-self: center;
        justify-self: center;
        margin-bottom: 2rem;

        height: 3px;
        width: 13rem;
        background: $color-blue;
    }

    &__heading {
        grid-row: 1 / 2;
        grid-column: 2 / 4;
        align-self: flex-end;

        font-size: 4rem;
        font-weight: 400;
        text-align: center;
        color: $color-grey;
    }

    &__description-1 {
        grid-row: 2 / 3;
        grid-column: 2 / 4;
        align-self: center;
        justify-self: center;

        width: 40rem;
        text-align: center;
        font-size: 1.8rem;
        font-family: $font-secondary;
        color: #fff;
        z-index: 4;

        margin-bottom: 25rem;
        margin-right: 35rem;

        @include respond(tab-port) {
            width: 30rem;
            margin-right: 20rem;
            margin-bottom: 20rem;
            font-size: 1.3rem;
        }
    }

    &__description-2 {
        grid-row: 2 / 3;
        grid-column: 2 / 4;
        align-self: center;
        justify-self: center;

        width: 50rem;
        text-align: center;
        font-size: 1.8rem;
        font-family: $font-secondary;
        color: #fff;
        z-index: 4;

        margin-top: 8rem;
        margin-right: 35rem;

        @include respond(tab-port) {
            width: 34rem;
            margin-top: 5rem;
            margin-right: 20rem;
            font-size: 1.3rem;
        }
    }

    &__description-3 {
        grid-row: 2 / 3;
        grid-column: 2 / 4;
        align-self: center;
        justify-self: center;

        width: 35rem;
        text-align: center;
        font-size: 1.3rem;
        font-family: $font-secondary;
        color: #fff;
        z-index: 4;

        margin-top: 35rem;
        margin-right: 35rem;

        @include respond(tab-port) {
            width: 30rem;
            margin-right: 20rem;
            margin-top: 26rem;
            font-size: 1.3rem;
        }
    }

    &__circle-description {
        grid-row: 2 / 3;
        grid-column: 2 / 4;
        align-self: center;
        justify-self: center;

        width: 54rem;
        height: 54rem;
        background: $color-grey-gradient;
        border-radius: 50%;
        z-index: 3;

        margin-right: 35rem;

        @include respond(tab-port) {
            width: 41rem;
            height: 41rem;
            margin-right: 20rem;
        }
    }

    &__photo {
        grid-row: 2 / 3;
        grid-column: 2 / 4;
        align-self: center;
        justify-self: center;

        border-radius: 50%;
        filter: saturate(1.2);
        z-index: 2;

        margin-left: 37rem;
        margin-bottom: 30rem;

        @include respond(tab-port) {
            width: 24rem;
            height: 24rem;
        }
    }

    &__circle-photo {
        grid-row: 2 / 3;
        grid-column: 2 / 4;
        align-self: center;
        justify-self: center;

        background: $color-blue-gradient;
        width: 34rem;
        height: 34rem;
        border-radius: 50%;
        z-index: 1;

        margin-left: 35rem;
        margin-bottom: 28rem;

        @include respond(tab-port) {
            width: 26rem;
            height: 26rem;
        }
    }

    &__circle-accent {
        grid-row: 2 / 3;
        grid-column: 2 / 4;
        align-self: center;
        justify-self: center;

        background: $color-green-gradient;
        width: 24rem;
        height: 24rem;
        border-radius: 50%;
        z-index: 0;

        margin-left: 30rem;
        margin-top: 20rem;

        @include respond(tab-port) {
            width: 20rem;
            height: 20rem;
        }
    }
}