// COLORS
$color-blue: #6ACBDE;
$color-green: #65E6AB;
$color-grey: #707070;

$color-grey-gradient: linear-gradient(#B8BCBF, rgb(164, 169, 174));
$color-blue-gradient: linear-gradient(#6ACBDE, #69BFF0);
$color-green-gradient: linear-gradient(#65E6AB, #69F0D8);

// FONTS
$font-secondary: 'Montserrat';

// SHADOWS
$shadow-button: 0px 1px 5px 0px rgba(0,0,0,0.56);