.footer {
    display: grid;
    grid-template-columns: 1fr 30rem 30rem 30rem 1fr;
    grid-template-rows: 10rem 15rem;

    background: $color-grey;
    color: #fff;

    @include respond(tab-port) {
        grid-template-columns: 1fr 23rem 14rem 23rem 1fr;
        grid-template-rows: 8rem 12rem;
    }

    @include respond(phone) {
        grid-template-columns: 1fr 14rem 26rem 1fr;
    }

    @include respond(small-phone) {
        grid-template-columns: 1fr 10rem 24rem 1fr;
        grid-template-rows: 6rem 12rem;
    }

    &__heading {
        grid-row: 1 / 2;
        grid-column: 2 / -2;
        justify-self: center;
        align-self: center;

        font-size: 3.6rem;

        @include respond(tab-port) {
            font-size: 3.2rem;
        }

        @include respond(small-phone) {
            font-size: 2.4rem;
        }
    }

    &__line-top {
        grid-row: 1 / 2;
        grid-column: 2 / -2;
        justify-self: center;
        align-self: flex-end;

        height: 3px;
        width: 13rem;
        background: $color-blue;

        @include respond(tab-port) {
            width: 10rem;
        }
    }

    &__number {
        grid-row: 2 / 3;
        grid-column: 2 / 3;
        justify-self: flex-end;
        align-self: center;

        font-size: 2rem;
        font-family: $font-secondary;
        color: #fff;
        text-decoration: none;

        transition: all .3s ease;

        @include respond(tab-port) {
            font-size: 1.8rem;
            margin-right: 2rem;
        }

        @include respond(phone) {
            grid-column: 3 / 4;
            justify-self: flex-start;
            margin-right: 0;
            margin-bottom: 3rem;
        }

        @include respond(small-phone) {
            font-size: 1.4rem;
            margin-left: 1rem;
        }

        &:hover {
            cursor: pointer;
            transform: scale(1.05);
        }

        &:active,
        &:focus {
            transform: scale(.95);
        }
    }

    &__line-left {
        grid-row: 2 / 3;
        grid-column: 2 / -2;
        justify-self: center;
        align-self: center;

        height: 4.5rem;
        width: 3px;
        background: #65E6AB;
        margin-right: 20rem;

        @include respond(tab-port) {
            margin-right: 14rem;
        }

        @include respond(phone) {
            margin-right: 16rem;
        }
    }

    &__email {
        grid-row: 2 / 3;
        grid-column: 4 / 5;
        justify-self: flex-start;
        align-self: center;

        font-size: 2rem;
        font-family: $font-secondary;
        color: #fff;
        text-decoration: none;

        transition: all .3s ease;

        @include respond(tab-port) {
            font-size: 1.8rem;
            margin-left: 2rem;
        }

        @include respond(phone) {
            grid-column: 3 / 4;
            justify-self: flex-start;
            margin-left: 0;
            margin-top: 3rem;
        }

        @include respond(small-phone) {
            font-size: 1.4rem;
            margin-left: 1rem;
        }

        &:hover {
            cursor: pointer;
            transform: scale(1.05);
        }

        &:active,
        &:focus {
            transform: scale(.95);
        }
    }

    &__line-right {
        grid-row: 2 / 3;
        grid-column: 2 / -2;
        justify-self: center;
        align-self: center;

        height: 4.5rem;
        width: 3px;
        background: #65E6AB;
        margin-left: 20rem;

        @include respond(tab-port) {
            margin-left: 14rem;
        }

        @include respond(phone) {
            display: none;
        }
    }

    &__facebook-link {
        grid-row: 2 / 3;
        grid-column: 2 / -2;
        justify-self: center;
        align-self: center;

        transition: all .3s ease;

        @include respond(phone) {
            grid-column: 2 / 3;
        }

        &:hover {
            cursor: pointer;
            transform: scale(1.05);
        }

        &:active,
        &:focus {
            transform: scale(.95);
        }
    }

    &__facebook {
        width: 5rem;
        height: 5rem;
        fill: #fff;
    }
}