.services {
    display: grid;
    grid-template-columns: 1fr 45rem 45rem 1fr;
    grid-template-rows: 10rem 50rem 50rem 50rem 50rem 5rem;

    @include respond(tab-port) {
        grid-template-columns: 1fr 30rem 30rem 1fr;
        grid-template-rows: 10rem repeat(4, 40rem) 5rem;
    }

    // HEADING
    &__subheading {
        grid-row: 1 / 2;
        grid-column: 2 / 4;
        align-self: flex-start;

        font-size: 2rem;
        font-weight: 400;
        text-transform: uppercase;
        text-align: center;
        color: $color-grey;
    }

    &__line {
        grid-row: 1 / 2;
        grid-column: 2 / 4;
        align-self: center;
        justify-self: center;
        margin-bottom: 2rem;

        height: 3px;
        width: 13rem;
        background: $color-blue;
    }

    &__heading {
        grid-row: 1 / 2;
        grid-column: 2 / 4;
        align-self: flex-end;

        font-size: 4rem;
        font-weight: 400;
        text-align: center;
        color: $color-grey;
    }

    // SERVICES
    &__circle {
        align-self: center;
        justify-self: center;

        height: 35rem;
        width: 35rem;
        border-radius: 50%;

        @include respond(tab-port) {
            height: 28rem;
            width: 28rem;
        }

        &--1 {
            grid-row: 2 / 3;
            grid-column: 2 / 3;
            background: $color-green-gradient;
        }

        &--2 {
            grid-row: 3 / 4;
            grid-column: 2 / 3;
            background: $color-blue-gradient;
        }

        &--3 {
            grid-row: 4 / 5;
            grid-column: 2 / 3;
            background: $color-green-gradient;
        }

        &--4 {
            grid-row: 5 / 6;
            grid-column: 2 / 3;
            background: $color-blue-gradient;
        }
    }

    &__photo {
        align-self: center;
        justify-self: center;

        border-radius: 50%;
        height: 31rem;
        width: 31rem;
        margin-left: 2rem;
        margin-bottom: 2rem;

        @include respond(tab-port) {
            height: 25rem;
            width: 25rem;
        }

        &--1 {
            grid-row: 2 / 3;
            grid-column: 2 / 3;
        }

        &--2 {
            grid-row: 3 / 4;
            grid-column: 2 / 3;
        }

        &--3 {
            grid-row: 4 / 5;
            grid-column: 2 / 3;
        }

        &--4 {
            grid-row: 5 / 6;
            grid-column: 2 / 3;
        }
    }

    &__container {
        align-self: center;
        justify-self: center;
        width: 100%;
        height: 100%;

        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr 6rem 15rem 5rem 1fr;

        @include respond(tab-port) {
            height: 27rem;
            width: 27rem;
        }

        &--1 {
            grid-row: 2 / 3;
            grid-column: 3 / 4;
        }

        &--2 {
            grid-row: 3 / 4;
            grid-column: 3 / 4;
        }

        &--3 {
            grid-row: 4 / 5;
            grid-column: 3 / 4;
        }

        &--4 {
            grid-row: 5 / 6;
            grid-column: 3 / 4;
        }
    }

    &__services-heading {
        grid-column: 1 / -1;
        grid-row: 2 / 3;
        justify-self: center;
        align-self: flex-start;

        font-size: 2.4rem;
        font-weight: 600;
        color: $color-grey;
        text-transform: uppercase;

        @include respond(tab-port) {
            font-size: 1.8rem;
        }
    }

    &__list {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        align-self: flex-start;
        justify-self: center;

        font-size: 1.4rem;
        color: #B8BCBF;

        @include respond(tab-port) {
            font-size: 1.4rem;
        }

        &--3 {
            list-style: none;
        }

        &--4 {
            list-style: none;
        }
    }

    &__item {
        padding: .2rem 0;
    }

    &__svg {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
        align-self: flex-start;
        justify-self: center;

        width: 8rem;
        height: 8rem;

        @include respond(tab-port) {
            width: 6rem;
            height: 6rem;
            margin-top: 1rem;
        }

        &--1 {
            fill: $color-green;
        }

        &--2 {
            fill: $color-blue;
        }

        &--3 {
            fill: $color-green;
        }

        &--4 {
            fill: $color-blue;
        }
    }

    &__button {
        grid-column: 1 / -1;
        grid-row: 4 / 5;
        justify-self: center;
        align-self: flex-end;

        width: 20rem;
        height: 5rem;

        background: $color-blue;
        color: #fff;
        border: none;
        font-size: 1.4rem;
        font-weight: 300;
        text-transform: uppercase;
        border-radius: 30px;
        font-family: 'Montserrat';
        outline: none;
        text-decoration: none;
        text-align: center;
        padding-top: 1.5rem;
        
        transition: all .3s ease;

        &:hover {
            cursor: pointer;
            box-shadow: $shadow-button;
        }
    }
}